<% const year=new Date().getFullYear(); %>
    <footer class="container" role="contentinfo">
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
        <p><a href="/errors/trigger">Trigger 500 Error (test)</a></p>
    </footer>