<header class="site-header">

    <a href="/">Home</a>

    <% if (loggedin && accountData) { %>

        <a href="/account/garage">My Garage</a>


        <a class="account" href="/account/">Welcome <%= accountData.account_firstname %></a> </p>

        <form action="/account/logout" method="post" style="display:inline">
            <button type="submit" class="linklike">Logout</button>
        </form>

        <% } else { %>
            <a href="/account/login">My Account</a>
            <% } %>

</header>