<section class="container">
  <h1>Inventory Management</h1>

  <% if (typeof notice !=="undefined" && notice && notice.length) { %>
    <p class="notice">
      <%= notice[0] %>
    </p>
    <% } %>

      <ul class="mgmt-links">
        <li><a class="btn" href="/inv/add-classification">Add New Classification</a></li>
        <li><a class="btn" href="/inv/add-inventory">Add New Vehicle</a></li>
        <li><a class="btn" href="/inv/classifications">Manage Classification Names</a></li>
        <p><a class="btn" href="/account/update/<%= account.account_id %>">Update account information</a></p>

      </ul>


      <p>Select a classification to see its vehicles.</p>

      <div><%- classificationSelect %></div>

      <table id="inventoryDisplay" class="list"></table>
</section>
<script src="/js/inventory.js" defer></script>